@model List<GeoService.models.UserModel>;

@{
    ViewData["Title"] = "Users List";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Device Id</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.id</th>
                <td>@user.fullname</td>
                <td>@user.device_id</td>
                <td>@user.email</td>
                <td>
                    <a asp-controller="Home" asp-action="Index" asp-route-Id="@user.id" class="btn btn-primary">
                       QR Code
                    </a>
                </td>
            </tr>

        }

    </tbody>
</table>
