@model List<GeoService.models.UserLocation>;

@{
    ViewData["Title"] = "Users Location";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Lattitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Site Id</th>
            <th scope="col">Site Name</th>
            <th scope="col">Zone Id</th>
            <th scope="col">Zone Name</th>
            <th scope="col">Date Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loc in Model)
        {

            <tr>
                <th scope="row">@loc.id</th>
                <td>@loc.user_fullname</td>
                <td>@loc.lat</td>
                <td>@loc.lng</td>
                <td>@loc.site_id</td>
                <td>@loc.site_name</td>
                <td>@loc.zone_id</td>
                <td>@loc.zone_name</td>
                <td>@loc.created_at</td>
            </tr>

        }

    </tbody>
</table>

