@model List<GeoService.models.UserLocation>;

@{
    ViewData["Title"] = "Users Location";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Lattitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Site Id</th>
            <th scope="col">Site Name</th>
            <th scope="col">Zone Id</th>
            <th scope="col">Zone Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loc in Model)
        {
         
            <tr>
                <th scope="row">@loc.id</th>
                <td>@loc.UserId</td>
                <td>@loc.lat</td>
                <td>@loc.lng</td>
                <td>@loc.SiteId</td>
                <td>@loc.SiteName</td>
                <td>@loc.ZoneId</td>
                <td>@loc.ZoneName</td>
            </tr>

        }

    </tbody>
</table>
